{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% endblock %}


{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>ATS overview</h1>
        <p>Many people apply for jobs online these days -as numbers increases, it becomes more and more challenging to maintain the work flow of the recruiting process for the company offering these jobs. An Applicant Tracking System is a module that keeps track of the process of on boarding the applicants in to a firm. We are planning to design an ATS from the ground-up that can perform tasks such as: Maintain Applicant Database, search resumes, find the right applicant for a position based the no of matches in their skill set to the job requirements and keep the track of the dates for various events involved. .</p>

      </div>






<div class="row">
        <div class="col-md-4">
          <h2>Software Project Management Plan (SPMP)</h2>
          <p>
Table of Contents

1. Introduction.
1.1. Project Overview
1.2. Project Deliverables.
2. Project Organization.
2.1. Software Process Model.
2.2. Roles and Responsibilities.
2.3. Tools and Techniques.

3. Project Management Plan.
3.1. Tasks.
3.1.1. Preparing the Documentation
3.1.1.1. Description.

3.1.1.2. Deliverables and Milestones.
3.1.1.3. Resources Needed
3.1.1.4. Dependencies and Constraints
3.1.1.5. Risks and Contingencies.
3.1.2. Setting up Development and Testing environments.
3.1.2.1. Description.
3.1.2.2. Deliverables and Milestones.
3.1.2.3. Resources Needed.
3.1.2.4. Dependencies and Constraints.
3.1.2.5. Risks and Contingencies.
3.1.3. Implementation
3.1.3.1. Description.
3.1.3.2. Deliverables and Milestones.
3.1.3.3. Resources Needed.
3.1.3.4. Dependencies and Constraints.
3.1.3.5. Risks and Contingencies.
3.1.4. Testing and Release.
3.1.4.1. Description.
3.1.4.2. Deliverables and Milestones.
3.1.4.3. Resources Needed.
3.1.4.4. Dependencies and Constraints.
3.1.4.5. Risks and Contingencies.
3.1.5. Feedback and Bug Fixes.
3.1.5.1. Description
3.1.5.2. Deliverables and Milestones
3.1.5.3. Resources Needed.
3.1.5.4. Dependencies and Constraints.
3.1.5.5. Risks and Contingencies.
 </p>
 <a href="#"><img src="{% static 'img/ATS.jpg' %}" class='img-responsive'/></a>

 
          </div>
        <div class="col-md-8">

		<a href="#"><img src="{% static 'img/recruitplus_ATS.jpg' %}" class='img-responsive'/></a>
		<h2>Software Requirements Specifications (SRS)</h2>
          <p>


Table of Contents


1 INTRODUCTION
1.1 Product Overview
2 SPECIFIC REQUIREMENTS
2.1 External Interface Requirements
2.1.1 User Interfaces
2.1.2 Hardware Interfaces
2.1.3 Software Interfaces
2.1.4 Communications Protocols
2.2 Software Product Features
2.3 Software System Attributes
2.3.1 Reliability
2.3.2 Availability
2.3.3 Security
2.3.4 Maintainability
2.3.5 Portability
2.3.6 Performance
2.4 Database Requirements


 </p>

 <h2>Software Design Description (SDD)</h2>
<p>


Software Design Description (SDD)
Cover Page
Revisions Page
Table of Contents
1. INTRODUCTION.
1.1. Design Overview.
1.2. Requirements Traceability Matrix.
2. SYSTEM ARCHITECTURAL DESIGN.
2.1. Chosen System Architecture.
2.2. Discussion of Alternative Designs.
2.3. System Interface Description.
3. DETAILED DESCRIPTION OF COMPONENTS.
3.1. Model.
3.2. Service.
3.3. View.
3.4. Controller.
3.5. Request handlers.
4. USER INTERFACE DESIGN.
4.1. Description of the User Interface.
4.1.1. Screen Images.
4.1.2. Objects and Actions.



 </p>

 <h2>Software Test Documentation (STD)</h2>
          <p>

1. INTRODUCTION.
1.1. System Overview.
1.2. Test Approach
2. TEST PLAN.
2.1. Features to be tested.
2.2. Features not to be tested.
2.3. Testing Tools and Environment.
3. TEST CASES.
3.1. Case-1: Login Test.
3.1.1. Purpose.
3.1.2. Inputs
3.1.3. Expected Outputs and Pass/Fail criteria.
3.1.4. Test Procedure.
3.2. Case-2: Upload Job Requirement Test.
3.2.1. Purpose.
3.2.2. Inputs.
3.2.3. Expected Outputs and Pass/Fail criteria.
3.2.4. Test Procedure.
3.3. Case-3: View Job Requirement Test.
3.3.1. Purpose.
3.3.2. Inputs
3.3.3. Expected Outputs and Pass/Fail criteria.
3.3.4. Test Procedure.
3.4. Case-4: Offer Employment Test.
3.4.1. Purpose.
3.4.2. Inputs.
3.4.3. Expected Outputs and Pass/Fail criteria.
3.4.4. Test Procedure.
3.5. Case-5: Download Job Requirement Test.
3.5.1. Purpose.
3.5.2. Inputs.
3.5.3. Expected Outputs and Pass/Fail criteria.
3.5.4. Test Procedure.
3.6. Case-6: Upload Resume Test.
3.6.1. Purpose.
3.6.2. Inputs
3.6.3. Expected Outputs and Pass/Fail criteria.
3.6.4. Test Procedure.
3.7. Case-7: View Resume Test.
3.7.1. Purpose.
3.7.2. Inputs.
3.7.3. Expected Outputs and Pass/Fail criteria.
3.7.4. Test Procedure.
3.8. Case-8: Manage Candidate Test.
3.8.1. Purpose.	
3.8.2. Inputs.
3.8.3. Expected Outputs and Pass/Fail criteria.
3.8.4. Test Procedure.
3.9. Case-9: My Account Test.
3.9.1. Purpose
3.9.2. Inputs.
3.9.3. Expected Outputs and Pass/Fail criteria
3.9.4. Test Procedure.
 </p>
 


       </div>
       
{% endblock %}

